:root {
  --white: #FFFFFF;
  --text-color: #FFFFFF;
  --text-content-color: #494949FF;
  --link-text-color: #24C4FFFF;
  --background-main: #FFF3E9FF;
  --header-background: #008000;
  --footer-background: #008000;
}
